<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shop our products</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="#" class="logo">VELM.co</a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="Shop.html">Products</a></li> 
                        <li><a href="">Contact Us</a></li> 
                        <li><a href="login" class="btn">My account &#8594;</a></li>
                    </ul>
                </nav>
                <div class="search">
                    <span class="icon">
                        <box-icon name='search-alt-2' class = "searchBtn"></box-icon>
                        <box-icon name='x' class="closeBtn"></box-icon>
                    </span>
                </div>
                <form action="/search" method="post">
                    <div class="searchbox">
                        <input type="text" name="query" placeholder="Search Here...">
                        <input type="submit" value="Search">
                    </div>
                </form>                
                <div class="cart">
                    <a href="#"><box-icon name='shopping-bag'></box-icon></a>
                    <span>0</span>
                </div>
                
            </div>
        </div>
    </div>
    <script>
        let searchBtn = document.querySelector('.searchBtn');
        let closeBtn = document.querySelector('.closeBtn');
        let searchbox = document.querySelector('.searchbox');

        searchBtn.onclick = function(){
            searchbox.classList.add('active');
            closeBtn.classList.add('active');
            searchBtn.classList.add('active');
        }
        closeBtn.onclick = function(){
            searchbox.classList.remove('active');
            closeBtn.classList.remove('active');
            searchBtn.classList.remove('active');
        }
    </script>
    <div class="row">
        <div class="col-2">
            <h1>#1 brand for basics</h1>
            <h2>Everyday essentials for you to rock</h2>
            <p>Check out our products!</p>
            <a href="Shop" class="btn">Explore Now &#8594;</a>

        </div>
        <div class="col-2">
            <div class="card-group">
                <div class="little-card card"></div>
                <div class="big-card card"></div>
                <div class="little-card card"></div>
                <div class="big-card card"></div>
                <div class="little-card card"></div>
                <div class="big-card card"></div>
                <div class="little-card card"></div>
                <div class="big-card card"></div>
            </div>
        </div> 
    </div>
    <section class="cover">
        <div class="cover--overlay">
            <h1>About VELM</h1>
            <span class="slogan">Where style meets comfort</span>
        </div>
        <p class="section-heading">     We are a small business based in Sountern California. As company, we are dedicated 
            to delivering you high quality essential clothes. <br> A closet is not complete without the basics. Our clothing
            may look basic but we can assure you it is made of the highest quality cotton on the market. <br> We source all of 
            our clothes direclty out of Down Los Angeles for that classic LA look and feel. 
        </p>

    </section>
    <main>
        
        <div class="sidebar" id="sidebar">

        </div>
    </main>
</body>
</html>