<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            E-Commerce Website
        </title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
        <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="proclubb.webp" width="250pxpx"> 
            </div>
            <nav>
                <ul>
                 <li><a href="">Products</a></li> 
                 <li><a href="">About</a></li> 
                 <li><a href="">Contact Us</a></li> 
                 <li><a href="">My Account</a></li>
                </ul>
            </nav>
            <img src="cart.png" width="30px" height="30px">
        </div>
        <div class="row">
            <div class="col-1">
                <h1>#1 rated reseller</h1>
                <p>Check out our products!</p>
                <a href="" class="btn">Explore Now&#8594</a>
            </div>
            <div class="col-2">
                <div class="card-group">
                    <div class = "big-card card">

                    </div>
                    <div class="big-card card">

                    </div>
                    <div class = "big-card card">

                    </div>
                    <div class="big-card card">
                    
                    </div>
                    <div class="little-card card">

                    </div>
                    <div class="little-card card">
                    
                    </div>
                    <div class="little-card card">
                    
                    </div>
                    <div class="little-card card">
                    
                    </div>
                </div>
            </div> 
        </div>

        <!------- featured categories ------>
        <div class="categories">
            <div class="row">
    
            </div>
        </div>
    </body>
</html>