
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shop</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

<style>
    .spropduct{
        margin-left: 10%;
        padding-top: 5%;
    }
    .col-1{
        padding: 10% 5%;
    
        display: grid;
        place-items: center;
    }
    .col-2{
        padding: 10% 5%;
    
        display: grid;
        place-items: center;
    }
    .small-img-group{
        display: flex;
        
    }
    .small-img-col{
        flex-basis: 22%;
        margin-right:-5%;
        
        cursor: pointer;
    }
    .details{
        
        scale: 150%;
        margin-left: -80%;
       
        
    }
    .prodDetails{
        margin-left: 1%;
        
    }
    .prodName{
        padding-top: 4%;
        padding-bottom: 4%;
    }
    .spropduct select.sizes{
        display: block;
        padding: 5px 10px;
    }
    .spropduct input{
        width: 50px;
        padding-left: 10px;
        font-size: 16px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .cartBtn{
    display: inline-block;
    background: #000000;
    color: #fff;
    padding: 8px 30px;
    margin: 15px 0;
    border-radius: 10px;
    transition: background 0.5s;
    }
    .cartBtn:hover{
    background: #563434;
    }
</style>

</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="#" class="logo">VELM.co</a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index" class="btn">Home</a></li>
                        <li><a href="Shop" class="btn">Products</a></li> 
                        <li><a href="login" class="btn">My account</a></li>
                        <li> <div class="cart">
                            <a href="shoppingcart"><box-icon name='shopping-bag'></box-icon></a>
                            <span>0</span></li>
                    </ul>
                </nav>
                <div class="search">
                    <span class="icon">
                        <box-icon name='search-alt-2' class = "searchBtn"></box-icon>
                        <box-icon name='x' class="closeBtn"></box-icon>
                    </span>
                </div>
                <form action="/search" method="post">
                    <div class="searchbox">
                        <input type="text" name="query" placeholder="Search Here...">
                        <input type="submit" value="Search">
                </div>
            </form>
                <div class="cart">
                    <a href="#"><box-icon name='shopping-bag'></box-icon></a>
                </div>
                
            </div>
        </div>
    </div>
    <script>
        let searchBtn = document.querySelector('.searchBtn');
        let closeBtn = document.querySelector('.closeBtn');
        let searchbox = document.querySelector('.searchbox');

        searchBtn.onclick = function(){
            searchbox.classList.add('active');
            closeBtn.classList.add('active');
            searchBtn.classList.add('active');
        }
        closeBtn.onclick = function(){
            searchbox.classList.remove('active');
            closeBtn.classList.remove('active');
            searchBtn.classList.remove('active');
        }
    </script>

    <section class="spropduct">
        
        <div class="row">
            <div class="col-1">
                <div class="mainpic">
                    <img src="Images/greenshirt.jpg" id="mainpic"
                    width="50%"
                    height="100%">
                </div>
                

                <div class="small-img-group">
                    <div class="small-img-col">
                        <img src="Images/greenshirt.jpg" class="small-img"
                        width="70%"
                        >
                    </div>
                    <div class="small-img-col">
                        <img src="Images/whiteshirt.jpg" class="small-img"
                        width="70%"
                        >
                    </div>
                    <div class="small-img-col">
                        <img src="Images/black shirt.jpg" class="small-img"
                        width="70%"
                        >
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="details">
                    <h6>Home / Basic T-Shirt </h6>
                    <h3 class="prodName">Basic T-Shirt</h3>
                    <h2>$14.99</h2>
                    <div class="products">
                        <select name="sizes" id="sizes">
                            <option>Select Size</option>
                            <option>Small</option>
                            <option>Medium</option>
                            <option>Large</option>
                        </select>
                        <select name="color" id="color">
                            <option>Select Color</option>
                            <option>Green</option>
                            <option>White</option>
                            <option>Black</option>
                        </select>
                        <input type="number" id="quantity" value="1">
                        <button class="cartBtn">Add to Cart</button>
                    </div>
                    
                    <div class="cart">
                        <h2>Shopping Cart</h2>
                        <ul id="cartItems"></ul>
                    </div>
                    <script>
                      var shoppingCart = {
    items: [],
    addItem: function(item) {
        this.items.push(item);
        // Update cart UI
        updateCartUI();
    }
};

function updateCartUI() {
    var cartItemsElement = document.getElementById('cartItems');
    cartItemsElement.innerHTML = ''; // Clear previous items

    shoppingCart.items.forEach(function(item) {
        var li = document.createElement('li');
        li.textContent = `${item.quantity} ${item.size} ${item.color}`;
        cartItemsElement.appendChild(li);
    });
}

function addToCart() {
    var size = document.getElementById('sizes').value;
    var color = document.getElementById('color').value;
    var quantity = parseInt(document.getElementById('quantity').value);

    var newItem = {
        size: size,
        color: color,
        quantity: quantity
    };

    shoppingCart.addItem(newItem); // Changed from shoppingCart.addToCart(newItem)
}

document.querySelector('.cartBtn').addEventListener('click', addToCart);

                    </script>
                    
                
    
                
                    <h4 class="prodDetails">Product Details</h4>
                    <span>Our medium weight crewneck with regular fit and relaxed collar are a staple for every closet. </span>
                </div>
            </div>
        </div>
    </section>
    <script>
        var mainpic = document.getElementById('mainpic');
        var smallpic = document.getElementsByClassName('small-img');

        smallpic[0].onclick = function(){
            mainpic.src=smallpic[0].src;
        }
        smallpic[1].onclick = function(){
            mainpic.src=smallpic[1].src;
        }
        smallpic[2].onclick = function(){
            mainpic.src=smallpic[2].src;
        }
    </script>
</body>
</html>
